$def with (posts)

<h3>Your data sets</h3>


<table>
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Show</th>
    <th>Delete</th>
  </tr>
$for post in posts:
    <tr>
        <td>$post.title</td>
        <td>
        <a href="/edit/$post.id"><i class="fa fa-pencil" aria-hidden="true" ></i></a>   
        </td>
         <td>
         <a href="/show/$post.id" target="_blank"><i class="fa  fa-info-circle" aria-hidden="true"></i></a>
        </td>
        <td>
         <a href="/delete/$post.id"><i class="fa  fa-close" aria-hidden="true"></i></a>
        </td>
    </tr>
</table>


